.container {
  display: flex;
  padding: 2rem;
  height: 100vh;
  background-color: #EBEDF9;
  text-align: left;
}

.section {
  font-size: 1.125rem; /* 18px */
  margin-top: 3rem; /* 50px */
  font-weight: 700;
  color: rgb(98, 12, 98);
  text-align: justify;
  margin-bottom: 1rem;
}

.textSection {
  padding: 2rem;
  padding-left: 6.25rem; /* 100px */
  width: 40%;
}

.textSection p {
  font-size: 1.25rem; /* 20px */
  color: #4f4f4f;
  margin-top: 2.5rem; /* 40px */
  margin-bottom: 1.5rem;
}

.button {
  padding: 0.8rem 1.5rem;
  margin-top: 1.875rem; /* 30px */
  background-color: #e61717;
  color: #fff;
  border: none;
  border-radius: 15px 0 15px 15px;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #e63939;
}

.imageGrid {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.image {
  height: 40vh;
  width: 90%;
  border-radius: 5px 60px 5px 80px;
}

/* Tablet View (max-width: 768px) */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      padding: 1.5rem;
  }

  .textSection {
      width: 90%;
      padding: 1rem;
  }

  .section {
      font-size: 2rem; /* 32px */
  }

  .textSection p {
      font-size: 1.125rem; /* 18px */
  }

  .button {
      font-size: 0.9rem;
      padding: 0.7rem 1.2rem;
  }

  .imageGrid {
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjusted for better responsiveness */
  }
}

/* Mobile View (max-width: 480px) */
@media (max-width: 480px) {
  .container {
  margin-top: -7px;
  }
  .textSection {
      width: 100%;
      /* padding: 0.1rem; */
      margin-top: -50px;
  }


  .section {
      font-size: 13px; /* 28px */
  }

  .textSection p {
      font-size: 1rem; /* 16px */
      margin-top: 1.25rem; /* 20px */
  }

  .button {
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
  }

  .imageGrid {
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
      gap: 0.5rem;
  }

  .image {
      border-radius: 10px;
      height: 25vh;
      width: 100%;
  }
}